<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Graveyard{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('/image/znicz.jpg') }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />
    <script src="{{ asset('/js/jquery-3.3.1.min.js') }}" ></script>
    <script src="{{ asset('bootstrap-3.3.7-dist/js/bootstrap.js') }}" ></script>

</head>
<body>
    {% block body %}


        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Strona główna</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left" >

                        <li><a href="/szukaj">Wyszukaj zmarłego</a></li>
                    </ul>   
                    <ul class="nav navbar-nav navbar-right" >
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wybierz: <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/addGrave">Dodaj grób</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/addDead">Dodaj zmarłego</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/addCurator">Dodaj opiekuna</a></li>
                                </ul>
                            </li>
                            <li><a href="/profile">Mój profil</a></li>

                            <li id="ifLogged">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</li>

                            <li><a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                            {% else %}
                            <li><a href="/login">Zaloguj</a></li>
                            <li><a href="/register">Zarejestruj</a></li>
                            {% endif %}


                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
