{% include 'base.html.twig' %}

{% block body %}
 <div class="form-horizontal" >

{#{% if app.flashes('notice') %}#}
{% for message in app.flashes('notice') %}
    
        {{ message }}
   
{% endfor %}
{#{% endif %}#}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

 </div>
{% endblock %}