{% include 'base.html.twig' %}

{% block body %}

        

                <div class="container">

                <h2>Zmarły:</h2><br/>

                <p> 

                    Imię: {{ dead.name }}<br/>

                    Drugie imię: {{ dead.secondName }}<br/>

                    Nazwisko: {{ dead.surname }}<br/>

                    Nazwisko panieńskie: {{ dead.maidenSurname }}

                    

                    <h4>Dane szczegółowe:</h4>

                     <br/> Imię matki: {{ dead.motherName}}

                     <br/> Imię ojca: {{ dead.fatherName}}

                    <br/> Data urodzenia: {{ dead.birthDate|date('d-m-Y') }}

                    <br/> Data zgonu: {{ dead.deathDate|date('d-m-Y') }}

                    <br/> Data pochówku: {{ dead.funeralDate|date('d-m-Y')}}

                    <br/> Typ pochówku: {{ dead.boxType}}

                    <br/> Miejsce grobowe: {{ dead.deadPlace}}

                    <br/> Data modyfikacji: {{ dead.createDate|date('d-m-Y')}}

                    

                    

                    <br/> <button type="button"> <a href="/display/{{dead.id}}">Wyświetl dane grobu</a></button>

     </div>     

        

{% endblock %}