{% include 'base.html.twig' %}

{% block body %}

    {% if users %} 
        {% for user in users %}
            <div class="container">
                <h3>Zmarły:</h3><br/>
                <p> 
                    Imię: {{ user.name }}<br/> Nazwisko: {{ user.surname }}
                    <br/> Data urodzenia: {{ user.birthDate|date('d-m-Y') }}
                    <br/> Data zgonu: {{ user.deathDate|date('d-m-Y') }}
                    <br/> Data pochówku: {{ user.funeralDate|date('d-m-Y')}}
                    <br/> <button type="button"> <a href="/display/{{user.id}}">Wyświetl pełny profil</a></button>
                </p>
            </div>

    {% endfor %}

{% else %}
    <div class="form-horizontal" <span id="err">Brak osoby w bazie!</span></div>
{% endif %}  
{% endblock %}