{% include 'base.html.twig' %}

{% block body %}
    <form method="POST">

        <div class="form-horizontal" >
            <label for="name">Imię:</label>
            <input type="text" id="name" name="name" value="">
        </div>
        <div class="form-horizontal">
            <label for="surname">Nazwisko:</label>
            <input type="text" id="surname" name="surname" value="">
        </div>
        <div class="form-horizontal">
            <input type="submit" class="btn" value="Szukaj" />
        </div>
    </form>
{% endblock %}
