.navbar-default {

   background-color: white;

   border-color: black;

}

body {

   background-color: black;  
    background-image: url(../image/field.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}

.form-horizontal {
    color:blueviolet;
    text-align : right;
    width:800px;
}
/*.form{
    margin : 1px solid blueviolet;
}*/
    #ifLogged {
        color:blueviolet;
        margin: 1em;
    }
    #dropdown{
        margin: 0;
    }
    #err{
        
        color:red;
        font-size: 30px;
    }
    
    .container {
        color: white;
    }
    
    .btn{
        color: black;
    }